<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <a rel=me href=https://piaille.fr/@guilg></a>
        <link rel="stylesheet" href="/css/bulma.min.css">
        <link rel="stylesheet" href="/css/fork-awesome.min.css">
        <style>
            :root {
                --bulma-link-h: {{ config.extra.hue }};
                --bulma-link-s: {{ config.extra.saturation }}%;
                --bulma-link-l: {{ config.extra.lightness }}%;
                --bulma-body-family: Cantarell;
            }

            .no-bullets li {
                list-style-type: none;
            }

            .caption-container {
                position: relative;
            }

            .img-captioned {
                width: 100%;
                vertical-align: top;
            }

            .caption {
                position: absolute;
                padding: 0.5em 1em;
                bottom: 0px;
                right: 0px;
                color: white;
                background: black;
                opacity: 0.7;
                border-radius: 0.5em 0em 0em 0em;
            }

            .navbar-shadow {
                box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.11);
            }

            html, body {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
            }

            body > footer {
                margin-top: auto;
            }
        </style>
        {% block extracss %}{% endblock extracss %}
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    </head>
    <body class="layout-documentation page-components">
        <nav class="navbar is-link navbar-shadow" role="navigation" aria-label="main navigation">
            {% if not config.extra.wide_navbar %}
            <div class="container">
                {% endif %}
                <div class="navbar-brand">
                    <a class="navbar-item is-size-4" href="{{ config.base_url | safe }}">
                        <strong>{{ config.title }}</strong>
                    </a>
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        {% for button in config.extra.menu_left %}
                        <a class="navbar-item is-size-6" href="{{ get_url(path=button.link) | safe }}">
                            <strong>{{ button.name }}</strong>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="navbar-end">
                        {% for button in config.extra.menu_right %}
                        <a class="navbar-item is-size-6" href="{{ get_url(path=button.link) | safe }}">
                            <strong>{{ button.name }}</strong>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            {% if not config.extra.wide_navbar %}
            </div>
            {% endif %}
        </nav>
        {% block content %}{% endblock content %}
        {% block footer %}
        {% if not config.extra.disable_footer %}
        <footer class="footer">
            <div class="content has-text-centered">
                <p>Powered by <a class="has-text-link" href="https://github.com/tforgione/zola-academic">the academic theme</a> for <a class="has-text-link" href="https://www.getzola.org">Zola</a>, hosted by <a class="has-text-link" href="https://codeberg.page">Codeberg</a> (<a class="has-text-link" href="https://codeberg.org/guilg/pages-source">source</a>)</p>
            </div>
        </footer>
        {% endif %}
        {% endblock footer %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
              const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
              if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach( el => {
                  el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                  });
                });
              }
            });
        </script>
    </body>
</html>
